:8080 {
    handle /term-raw/* {
        reverse_proxy localhost:7681
    }

    handle /files/* {
        reverse_proxy localhost:8085
    }

    handle_path /code/* {
        reverse_proxy localhost:8443
    }

    handle /jupyter/* {
        reverse_proxy localhost:8888
    }

    handle {
        reverse_proxy localhost:4850
    }
}
